body {
    margin: 0;
    background: #1B244A;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    color: #EEE;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto; 
}

.container>div {
    min-width: 150px;
}

.main-body {
    padding-top: 18vh;
}

.container,
.newgame-btn {
    max-width: 400px;
}

.score,
.increment-btn,
.newgame-btn {
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.score {
    background: #080001;
    min-width: 15px;
    color: #F94F6D;
    font-weight: 400;
    font-size: 90px;
    line-height: 125px;
    text-align: center;
    margin: 25px 0;
}

.increment-btn {
    display: flex;
    justify-content: space-between;
}

.newgame-btn {
    text-align: center;
    max-width: 400px;
    width: 80%;
    margin: 30px auto 0px auto;
}

.increment-btn p,
.newgame-btn p {
    line-height: 25px;
    padding: 10px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    cursor: pointer;
}

.increment-btn p {
    margin-top: 10px;
}

.increment-btn p:hover,
.increment-btn p:focus,
.newgame-btn p:hover,
.newgame-btn p:focus {
    color: #1B244A;
    background: #9AABD8;
}